.about {
	display: flex;
	justify-content: space-between;

	align-items: center;
	padding: .1rem 1rem;
}
.aboutRight {
	padding: 2rem;
}

Img {
	align-self: center;
}
.container {
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
}

.services {
	display: flex;
	justify-content: space-evenly;
	.service {
		text-align: center;
	}

	.icon {
		width: 4rem;
		height: 4rem;
	}
}

@media (max-width: 800px) {
	.about {
		display: flex;
		flex-direction: column;
	}
}
